.wrap{
    position: fixed;
    top: 0;
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 1000;
}
.message{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px 0 40px;
    position: fixed;
    top: 40%;
    min-height: 120px;
    height: 20vh;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    font-size: 1.2em;
    color: #090808;
    background-color: #dae0d9;
    box-shadow: 0 0 12px 1px #000000;
}
.message h3 {
    text-align: center;
}

.message button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.2em;
    background-color: inherit;
    cursor: pointer;
}
